@model IEnumerable<AlbumViewModel>
@{
    Layout = null;
}

<div>
        @for (int i = 0; i < 25; i++)
        {
            <div class="thumbnail album-thumbnail">
                <img src="~/Images/placeholder.gif" />
                <p>Album Name</p>
            </div>
        }
    <div class="clearfix"></div>
</div>
