@model IEnumerable<AlbumViewModel>
@{
    Layout = null;
}

<div>
    <div id="album-list">
        @foreach (var a in Model)
        {
            @Html.Partial("_SingleAlbum", a)
        }
    </div>
    <div class="clearfix"></div>
</div>
