@{
    Layout = null;
}

@for (int i = 0; i < 30; i++)
{

    <div class="img">
        <button class="btn btn-small remove-img icononly-btn" title="Remove"><i class="icon-remove"></i></button>
        <img src="~/Images/placeholder.gif" class="img-polaroid" />
    </div>
}
<div class="clearfix"></div>
