@model IEnumerable<PhotoViewModel>
@{
    Layout = null;
}

@foreach(var p in Model)
{

    <div class="img">
        <img src="@p.PhotoUrl" class="img-polaroid" />
        @if (p.IsFromCurrentUser)
        {
            <button class="btn btn-small remove-img icononly-btn" title="Remove"><i class="icon-remove"></i></button>
        }
    </div>
}
<div class="clearfix"></div>
