@model IEnumerable<PhotoViewModel>
@{
    Layout = null;
}

@foreach(var p in Model)
{

    <div class="img">
        @if (p.IsFromCurrentUser)
        {
            <button data-id="@p.PhotoId" class="btn btn-small remove-img icononly-btn" title="Remove"><i class="icon-remove"></i></button>
        }
        <img src="@p.PhotoUrl"/>
    </div>
}
<div class="clearfix"></div>
