<div class="container" style="margin-top: 50px;">
    <div class="page-header">
        <h3>Soroush Photos</h3>
    </div>
    <div>

        <div class="albim-pic-switch">
            <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn btn-large btn-info active">Photos</button>
                <button class="btn btn-large btn-info">Albums</button>
            </div>
        </div>

        <div class="pic-list well">
            @Html.Partial("_ListPartial")
        </div>

    </div>
</div>
