@model Zazz.Web.Models.EditProfileViewModel

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

@section MiddlePanel
{
    <div>
        <div class="page-header">
            <h3>Edit Profile</h3>
        </div>

        <div></div>
    </div>
}