@{
    ViewBag.Title = "Profile";
}

<div class="container">
    @*COVET IMAGE*@
    <img id="coverImg" class="img-polaroid" src="~/Images/cover-image.gif"/>
    
    <div>

        @*LEFT ITEMS*@
        <div class="pull-left">
            <h4>Major: Getting Backout</h4>
            <h4>Concordia University</h4>
            <h5 class="uppercase">Montreal</h5>
        </div>
        
        @*RIGHT ITEMS*@
        <div class="pull-right">
            <h3 class="pull-right" style="margin-left: 5px;">95</h3>
            <h3 class="pull-right">PARTY WEB:</h3>
            <br/>
            <button class="btn btn-large pull-right">Join Party Web</button>
            <div class="clearfix"></div>
        </div>
        
        @*CENTER ITEMS*@
        <div class="profile-center">
            <img id="profilePic" class="img-polaroid" src="~/Images/placeholder.gif"/>
            <h3>Soroush Mirzaei Hesari</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    
    <hr/>
</div>

