@model UserProfileViewModel
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="user-profile-container">
    
    <section class="left-panel">
        
        <img id="user-profile-image" src="~/Images/placeholder.gif" />
        <div class="username">Soroush Mirzaei</div>
        
        <div class="party-web">
            
            <div class="followers-box">68</div>
            <div>Party Web</div>
        </div>

    </section>
    <section class="middle-panel"></section>
    <section class="right-panel"></section>

</div>