@model UserProfileViewModel
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="user-profile-container">
    
    <section class="left-panel">
        
        <img id="user-profile-image" src="~/Images/placeholder.gif" />
        <div class="username">Soroush Mirzaei Hesari</div>

    </section>
    <section class="middle-panel"></section>
    <section class="right-panel"></section>

</div>