@model FollowingViewModel
@{
    Layout = null;
}

@if (Model.Users.Any())
{
    @Html.Partial("_UserList", Model.Users)  
}
else
{
    <div class="text-center" style="margin-top: 100px;">
        <h3>This user is not following anyone yet!</h3>
    </div>
}