@model PhotoViewModel

@{
    Layout = null;
}
           
<li>
    <a data-toggle="lightbox" data-target="#photo-@Model.PhotoId" href="@Model.PhotoUrl.OriginalLink">
        <div class="profile-photos-img-div" style="background-image: url(@Model.PhotoUrl.MediumLink)"></div>
    </a>
    @Html.Partial("_LightBoxPartial", Model)
</li>