@model IEnumerable<UserViewModel>
           
<ul class="users-list">
    @foreach (var u in Model)
    {
        <li class="text-center">
            <a href="@Url.Action("Profile", "Users", new {id = u.Id })">
                <div class="user-list-img-div" style="background-image: url(@u.ProfileImage.SmallLink)"></div>
            </a>
            <h4>@u.DisplayName</h4>
        </li>
    }
</ul>