@model UserFollowingViewModel
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";

}

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("Profile", "Users", new { id = Model.UserId })"><i class="icon-list-alt"></i> News Feed</a></li>
        <li><a id="photosTabLink" href="@Url.Action("Photos", "Users", new {id=Model.UserId})"><i class="icon-th-large"></i> Photos</a></li>
        <li><a href="@Url.Action("FollowingClubs", "Users", new {id=Model.UserId})"><i class="icon-glass"></i> Clubs</a></li>
    </ul>
</div>

@if (Model.Follows.Any())
{
    @Html.Partial("_UserList", Model.Follows)
}
else
{
    <div class="text-center" style="margin-top: 100px;">
        <h3>This user is not following anyone yet!</h3>
    </div>
}
