@model UserFollowingViewModel
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";

}

@if (Model.Follows.Any())
{
    @Html.Partial("_UserList", Model.Follows)
}
else
{
    <div class="text-center" style="margin-top: 100px;">
        <h3>This user is not following anyone yet!</h3>
    </div>
}
