@model UserProfileViewModel
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#newsFeedTab" data-toggle="tab"><i class="icon-list-alt"></i> News Feed</a></li>
        <li><a id="photosTabLink" href="@Url.Action("Photos", "Users", new {id=Model.UserId})"><i class="icon-camera"></i> Photos</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active row-fluid" id="newsFeedTab">
            @Html.Partial("_FeedsPartial", Model.Feeds)
        </div>
        <div class="tab-pane margin-ten" id="photosTab">
            
        </div>
    </div>
</div>