@model UserFollowersViewModel
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

@if (Model.Followers.Any())
{
    @Html.Partial("_UserList", Model.Followers)
}
else
{
    <div class="text-center" style="margin-top: 100px;">
        <h3>This user does not have any followers yet!</h3>
    </div>
}
