@model List<FollowRequestViewModel>
@{
    Layout = null;
}

@if (Model.Count == 0)
{
    <div class="text-center">
        <strong>You have no new follow requests</strong>
    </div>

}
else
{
    <table class="table table-striped">
        @foreach (var r in Model)
        {
            <tr>
                <td>
                    <a href="~/user/profile/@r.FromUserId" target="_blank"><img src="@Html.Action("GetUserImageUrl", "User", new { userId = r.FromUserId })" alt="@r.FromUsername"/></a>
                </td>
                <td style="padding-top: 29px; width: 230px;"><a href="~/user/profile/@r.FromUserId" target="_blank"><strong>@r.FromUsername</strong></a></td>
                <td style="padding-top: 22px;" class="text-right">
                    <button data-url="/follow/acceptfollow/@r.RequestId" class="btn btn-primary pull-right btn-followrequest-action">Accept</button></td>
                <td style="padding-top: 22px;" class="text-right">
                    <button data-url="/follow/rejectfollow/@r.RequestId" class="btn btn-followrequest-action">Reject</button></td>
            </tr>
        }
    </table>   
}