@model FindFriendsViewModel
@{
    ViewBag.Title = "Find Friends";
}

<div class="container">
    
    <div class="page-header">
        <h2>People you might know:</h2>
        <a href="~/">Skip this step</a>
    </div>
    

    <ul class="thumbnails">
        @foreach (var f in Model.Friends)
        {
            <li class="span2">
                <div class="thumbnail" style="text-align: center;">
                    <a href="~/users/profile/@f.UserId/@f.Name.ToUrlFriendlyString()" target="_blank">
                        <img src="@f.Photo.SmallLink"/>
                    </a>

                    <h6>@f.Name</h6>
                    <button data-btn-follow="1" data-id="@f.UserId" data-url="/follow/followuser/@f.UserId" data-action="follow" 
                        class="btn btn-info btn-block">Add as friend</button>
                </div>
            </li>
        }
    </ul>

</div>