@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Select Account Type";
}

@section CSS
{
    <style>
    
        a, a:hover {
            text-decoration: none;
        }

    </style>
}

<div class="container">
   
    <div class="page-header" style="margin-top: 50px;">
        <h3>Select Account Type</h3>
    </div>
    
    <div class="row-fluid">
        <div class="well span6 text-center">
            <a href="@Url.Action("RegisterUser")" style="color: black">
                <i class="icon-user" style="font-size: 128px"></i>
                <div style="font-size: 28px; margin-top: 10px">User</div>
            </a>
        </div>
        <div class="well span6 text-center">
            <a href="@Url.Action("RegisterClub")" style="color: black">
                <i class="icon-glass" style="font-size: 128px"></i>
                <div style="font-size: 28px; margin-top: 10px">Club</div>
            </a>
        </div>
    </div>

</div>
