<div class="well well-small feed-item">
    <a href="#">Club A</a> has created a new <a href="#">event</a><br />
    <p><strong>MONTREAL - IN 10 DAYS (THURSDAY, MARCH 14, 2013)</strong></p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum quam ut odio ultricies vitae elementum turpis vulputate.
    </p>

    <span class="pull-right font-verysmall">13 MINUTES AGO</span>
    <div class="clearfix"></div>
</div>
