<div class="feed-item well">
    <p>
        <img src="~/Images/placeholder.gif" class="feed-user-img"/>
        <a href="#">Club A</a> created a new <a href="#">event</a>
    </p>
    <div class="feed-content">@Html.Partial("_EventPartialLight")</div>
    

    <span class="pull-right font-verysmall">13 MINUTES AGO</span>
    <div class="clearfix"></div>
</div>
