@model PhotoViewModel[]
@{
    Layout = null;
}

<div class="row-fluid">
    <div class="span6">
        <a data-toggle="lightbox" data-target="#photo-@Model[0].PhotoId" href="@Model[0].PhotoUrl.OriginalLink">
            <img src="@Model[0].PhotoUrl.MediumLink"/>
        </a>

    </div>

    <div class="span6" >
        <a data-toggle="lightbox" data-target="#photo-@Model[1].PhotoId" href="@Model[1].PhotoUrl.OriginalLink">
            <img src="@Model[1].PhotoUrl.MediumLink"/>
        </a>
    </div>
</div>
