@model PhotoViewModel
@{
    Layout = null;
}

<div>
    <a data-toggle="lightbox" data-target="#photo-@Model.PhotoId" href="@Model.PhotoUrl.OriginalLink">
        <img style="width: 100%" src="@Model.PhotoUrl.MediumLink" />
    </a>
</div>
