@model PhotoViewModel
@{
    Layout = null;
}
<div class="row-fluid">
    <div class="span12" style="margin-left: 5px; margin-top: 5px; margin-bottom: 5px; ">
        <p style="margin-right: 5px;">@Model.Description</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span12" id="feed-image-@Model.PhotoId" style="text-align: center;">
        <a data-toggle="lightbox" data-target="#photo-@Model.PhotoId" href="@Model.PhotoUrl.OriginalLink">
            <img src="@Model.PhotoUrl.MediumLink" />
        </a>
    </div>
</div>
