@model PhotoViewModel[]
@{
    Layout = null;
}

<div class="thumbnail-247" style="margin-top: 0;">
    <a data-toggle="lightbox" data-target="#photo-@Model[0].PhotoId" href="@Model[0].PhotoUrl">
        <img src="@Model[0].PhotoUrl"/>
    </a>

</div>

<div class="thumbnail-247" style="margin-top: 0; float: right;">
    <a data-toggle="lightbox" data-target="#photo-@Model[1].PhotoId" href="@Model[1].PhotoUrl">
        <img src="@Model[1].PhotoUrl"/>
    </a>
</div>
