<div class="well">
    <strong><a href="#">User B</a> Posted new pictures <br />
    </strong>
    <p>
        <img style="margin: 10px 5px 10px 0" src="~/Images/placeholder.gif" width="64" height="64" class="img-polaroid pull-left"/>
        <img style="margin: 10px 5px 10px 0" src="~/Images/placeholder.gif" width="64" height="64" class="img-polaroid pull-left"/>
        <img style="margin: 10px 5px 10px 0" src="~/Images/placeholder.gif" width="64" height="64" class="img-polaroid pull-left"/>
        <img style="margin: 10px 5px 10px 0" src="~/Images/placeholder.gif" width="64" height="64" class="img-polaroid pull-left"/>
        
        <div class="clearfix"></div>
    </p>

    <span class="pull-right">16 MINUTES AGO</span>
    <div class="clearfix"></div>
</div>
