<div class="feed-item">
    <p>
        <img src="~/Images/placeholder.gif" class="feed-user-img"/>
        <a href="#">User B</a> Posted new pictures
    </p>

    <div class="well well-small">
        <img style="margin: 0 5px 0 0" src="~/Images/placeholder.gif" width="64" height="64" class="img-polaroid pull-left"/>
        <img style="margin: 0 5px 0 0" src="~/Images/placeholder.gif" width="64" height="64" class="img-polaroid pull-left"/>
        <img style="margin: 0 5px 0 0" src="~/Images/placeholder.gif" width="64" height="64" class="img-polaroid pull-left"/>
        <img style="margin: 0 5px 0 0" src="~/Images/placeholder.gif" width="64" height="64" class="img-polaroid pull-left"/>
        <div class="clearfix"></div>
    </div>

    <span class="pull-right font-verysmall">16 MINUTES AGO</span>
    <div class="clearfix"></div>
</div>