@model FeedViewModel
@{
    Layout = null;
}

<div class="feed-item">
    <a href="~/user/profile/@Model.UserId">
        <img title="@Model.UserDisplayName" src="@Model.UserImageUrl" class="feed-user-img img-small-rounded" />
    </a>
    
    <div class="feed-content well well-small no-padding">
        <div style="margin:10px;">
            @Model.PostViewModel.PostText
        </div>
        
        <div class="clearfix" style="margin-bottom: 10px;"></div>    

        @Html.Partial("FeedItems/_FeedComments", Model.CommentsViewModel)
    </div>
</div>
