@{
    Layout = null;
}
<li class="feed-comment">
    <img src="~/Images/placeholder.gif" class="img-small-rounded pull-left" />
    <p class="comment-text">This is the comment. more texttttte daskjkldsa mdkl asmdk lasd okdd;samdls;admlsa;ml</p>
    <span data-placement="right" title="Monday, March 18, 2013 - 12:16 PM" class="pull-right font-verysmall">an hour ago</span>
    <div class="clearfix"></div>
</li>
