.fixed-navbar-page {
    padding-top: 50px;
}

.navbar-black {
    border: 0;
    background-image: none;
    background-color: black;
}

.dark-input {
    background-color: #333;
    border: 0;
    color: #FFF;
}

.btn-dark {
    background-color: #333;
    background-image: none;
    border-color: #222;
    color: white;
}

    .btn-dark:hover,
    .btn-dark:focus {
        background-color: #212121;
        color: white;
    }

    .btn-dark:active,
    .btn-dark.active {
        background-color: #212121;
        color: white;
    }

/**********************************
 *   LANDING PAGE
 *********************************/

.cover-image {
    background-color: black;
    text-align: center;
    margin-bottom: 30px;
}

.landing-page-category-img-container {
    padding: 0 25px;
    margin-bottom: 30px;
}

.landing-page-category-img {
    width: 120px;
    height: 120px;    
}

.landing-page-join-btn {
    width: 280px;
    height: 40px;
    font-size: 18px;
}