@using PagedList.Mvc
@model EventListSideViewModel
@{
    Layout = null;
}

<div id="eventrange-@Model.EventsRange">

    @foreach (var e in Model.Events)
    {
        <div class="row-fluid">
            @Html.Partial("_EventPartial", e)
        </div>
    }

    <div data-ajax-pagination="1" data-update="#eventrange-@Model.EventsRange">
        @if (Model.EventsRange == EventRange.Week)
        {
            @Html.PagedListPager(Model.Events, page => Url.Action("Week", new { @id = "0", page }))
        }
        else
        {
            @Html.PagedListPager(Model.Events, page => Url.Action("Month", new { @id = "0", page }))
        }
    </div>

</div>
