@model IEnumerable<PhotoViewModel>
@{
    Layout = null;
}

@foreach (var p in Model)
{
    <li>
        <a data-toggle="lightbox" data-target="#photo-@p.PhotoId" href="@p.PhotoUrl.OriginalLink">
            <img class="profile-photos-img" src="@p.PhotoUrl.MediumLink" />
        </a>
        @Html.Partial("_LightBoxPartial", p)
    </li>
    
}
