@model Zazz.Web.Models.AlbumListViewModel
@{
    ViewBag.Title = "Album List";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div>
    <div class="page-header">
        <h3>Albums</h3>
    </div>

    <div class="margin-ten">

        <ul class="thumbnails">
            <li>
                <div class="thumbnail">
                    <img src="~/Images/placeholder.gif" width="255" height="255" />
                    <h4>Album Name</h4>
                    <a href="#" class="pull-right font-small">REMOVE ALBUM</a>
                    <div class="clearfix"></div>
                </div>
            </li>
            
            <li>
                <div class="thumbnail">
                    <img src="~/Images/placeholder.gif" width="255" height="255" />
                    <h4>Album Name</h4>
                    <a href="#" class="pull-right font-small">REMOVE ALBUM</a>
                    <div class="clearfix"></div>
                </div>
            </li>
        </ul>

    </div>
</div>


