@using PagedList.Mvc
@model AlbumListViewModel
@{
    ViewBag.Title = "Album List";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div>
    <div class="page-header">
        <h3>Albums</h3>
    </div>
    <ul class="breadcrumb">
        <li class="active">Albums<span class="divider">/</span></li>
    </ul>

    <div class="margin-ten">

        @if (Model.IsOwner)
        {
            <p><strong>Create a new album</strong></p>
            <form class="form-inline" method="post">
                <span class="field-validation-valid help-inline" data-valmsg-for="AlbumName" data-valmsg-replace="true"></span>
                <input class="span5" data-val="true" data-val-length="The field Album Name must be a string with a maximum length of 50." data-val-length-max="50" data-val-required="The Album Name field is required." id="AlbumName" name="AlbumName" placeholder="Album Name" type="text" value="" />
                <button type="button" id="createAlbumBtn" class="btn btn-success">Create</button>
            </form>  

            <hr />
        }

        <ul class="thumbnails">

            @foreach (var album in Model.Albums)
            {
                @Html.Partial("_AlbumThumbnail", album)
            }

        </ul>

        <div class="text-center">
            @Html.PagedListPager(Model.Albums, page => Url.Action("List", new { page }))
        </div>

    </div>
</div>


