@using PagedList.Mvc
@model AlbumPhotosViewModel
@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div>
    <div class="page-header">
        <h3>Photos</h3>
    </div>

    <div class="margin-ten">
        @if (Model.IsOwner)
        {
            <p><strong>Upload New Photo</strong></p>
            <form method="POST" class="form-inline" action="~/photo/upload">
                <input type="file" name="photo" />
                <button type="submit" class="btn btn-success">Send</button>
            </form>

            <hr />
        }

        <ul class="thumbnails">
            @foreach (var p in Model.Photos)
            {
                <li class="thumbnail">
                    <div>
                        <a href="@p.ImageUrl">
                            <img src="@p.ImageUrl" class="width-110" title="@p.Text" />
                        </a>
                    </div>
                    
                    @if (Model.IsOwner)
                    {
                        <a href="#" class="font-verysmall">REMOVE</a>
                    }
                </li>
            }
        </ul>
        
        <div class="text-center">
            @Html.PagedListPager(Model.Photos, page => Url.Action("List", new { page }))
        </div>

    </div>

</div>
