@{
    Layout = null;
}

<div class="categories-select">
    
    <ul>
        <li>
            <button type="button" class="btn icon-beer" data-toggle="button"></button>
            <div class="text-center">test</div>
        </li>
        <li>
            <button type="button" class="btn icon-beer" data-toggle="button"></button>
            <div class="text-center">test</div>
        </li>
        <li>
            <button type="button" class="btn icon-beer" data-toggle="button"></button>
            <div class="text-center">test</div>
        </li>
        <li>
            <button type="button" class="btn icon-beer" data-toggle="button"></button>
            <div class="text-center">test</div>
        </li>
        <li>
            <button type="button" class="btn icon-beer" data-toggle="button"></button>
            <div class="text-center">test</div>
        </li>
        <li>
            <button type="button" class="btn icon-beer" data-toggle="button"></button>
            <div class="text-center">test</div>
        </li>
    </ul>

</div>