@model EventViewModel
@{
    Layout = null;
}

<div class="span12 border-2 color-white-bg margin-top-10 padding-5">
    <div class="media">
        <a href="#" class="pull-left">
            <img src="@Model.ImageUrl.SmallLink"></a>
        <div class="media-body">
            <h1 class="event-h">@Model.Name</h1>
            <p class="event-p">
                @Model.Description
            </p>
            <div class="row-fluid">
                <div class="span6 event-socal">
                    <ul>
                        @*<li><a href="#"><img src="~/Images/p.png" /></a></li>*@
                        
                        @if (Model.IsFacebookEvent)
                        {
                            <li><a href="https://www.facebook.com/events/@Model.FacebookEventId.Value"><img src="~/Images/f.png" /></a></li>
                        }

                        
                        @*<li><a href="#"><img src="~/Images/t.png" /></a></li>*@
                    </ul>
                </div>
                <div class="span1"></div>
                <div class="span5 event-read-more">
                    <a href="#">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
