<div class="event-front" data-side="front">
        <img class="event-img" src="~/Images/placeholder.gif" />
        <i class="loading-indicator icon-refresh icon-spin hidden"></i>
        <p class="event-title">EVENT TITLE</p>
        <p class="font-small">THURSDAY, MARCH 14, 2013</p>
        <div>Location</div>
        <div class="pull-right"><strong>25$</strong></div>
        <div class="clearfix"></div>
    </div>
    <div class="event-back" data-side="back">
        <i class="loading-indicator icon-refresh icon-spin hidden"></i>
        <div class="font-small pull-right">THURSDAY, MARCH 14, 2013</div>
        <p>
            <strong>Venue Name</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
        </p>
        <a href="http://www.facebook.com" target="_blank" class="facebook-link"><i class="icon-facebook icon-large"></i></a>
    </div>