@using Zazz.Core.Models.Data
@using Zazz.Core.Models.Data.Enums
@model IEnumerable<FeedViewModel>
@{
    Layout = null;
}
<div id="feedsContainer">
    @foreach (var feed in Model)
    {
        if (feed.FeedType == FeedType.Event)
        {
        @Html.Partial("FeedItems/_EventFeedItem", feed)
        }
        else if (feed.FeedType == FeedType.Picture)
        {
        @Html.Partial("FeedItems/_PicturePostFeedItem", feed)
        }
        else if (feed.FeedType == FeedType.Post)
        {
        @Html.Partial("FeedItems/_PostFeedItem", feed)
        }
    }
    
    @if (Model.Count() == 10)
    {
        <button data-url="@Url.Action("LoadMoreFeeds")" class="btn btn-block btn-inverse" id="load-feeds">Load More...</button>
    }
    
</div>