@{
    Layout = null;
}

<footer>
    <div class="navbar">
        <div class="navbar-inner">

            <div class="container">
                <div class="row-fluid">
                    <div class="span3">
                        <p style=" color:#FFF; margin-top:20px;"> &copy; @DateTime.UtcNow.Year ZazzLife.com</p> 
                    </div>
                    <div class="span9">
                        <ul class="nav pull-right margin-top-8">
                            <li><a href="#">What is Zazz  </a></li>
                            <li><a href="#">Our Goal</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>