@model PhotoViewModel
@{
    Layout = null;
}
<div id="photo-@Model.PhotoId" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class='lightbox-header'>
        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
    </div>
    <div class='lightbox-content'>
        <img src="@Model.PhotoUrl"/>
        @*@if (!String.IsNullOrEmpty(Model.PhotoDescription))
        {
            <div class="lightbox-caption">
                <p>@Model.PhotoDescription</p>
            </div>
        }*@
        <div class="well pull-right no-padding lightbox-commentbox">
            
            <div class="photo-details">
                <div style="margin-bottom: 15px;">
                    <a href="#">
                        <img src="~/Images/placeholder.gif" class="img-small-rounded lightbox-commentbox-user-img"
                             style=""/>
                        <strong>Soroush Mirzaei</strong>
                    </a>
                </div>
                <p>
                    This is the photo description. dsakdla nsdklsandk las dasjid dsajid saijdas idoasjdioa 
                </p>

            </div>

            <div class="feed-comments-section">
                <div>
                    <img title="You" src="~/Images/placeholder.gif" class="img-small-rounded" />
                    <input type="text" class="comment-textbox" placeholder="Write a comment..." />
                </div>
                <ul class="feed-comments">
                    
                    @for (int i = 0; i < 5; i++)
                    {
                        <li class="feed-comment">
                            <a href="~/user/profile/">
                                <img src="~/Images/placeholder.gif" class="img-small-rounded pull-left"/>
                            </a>

                            <p class="comment-text">Some comment</p>
                            <div>

                                <span data-placement="right" class="pull-right font-verysmall">an hour ago.</span>
                            </div>

                            <div class="clearfix"></div>
                        </li>
                    
                        <li class="feed-comment">
                            <a href="~/user/profile/">
                                <img src="~/Images/placeholder.gif" class="img-small-rounded pull-left"/>
                            </a>

                            <p class="comment-text">Some comment2</p>
                            <div>

                                <span data-placement="right" class="pull-right font-verysmall">an hour ago.</span>
                            </div>

                            <div class="clearfix"></div>
                        </li>
                    
                        <li class="feed-comment">
                            <a href="~/user/profile/">
                                <img src="~/Images/placeholder.gif" class="img-small-rounded pull-left"/>
                            </a>

                            <p class="comment-text">This is a very very long comment. dsajkdlanskldnakslndkalsdjisad joapsdmas.mdoomomdos; lasdkokm,asmdkl;sa</p>
                            <div>

                                <span data-placement="right" class="pull-right font-verysmall">an hour ago.</span>
                            </div>

                            <div class="clearfix"></div>
                        </li>
                    }
                    

                </ul>
            </div>
        </div>

    </div>
</div>
