@model PhotoViewModel
@{
    Layout = null;
}
<div id="photo-@Model.PhotoId" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class='lightbox-header'>
        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
    </div>
    <div class='lightbox-content'>
        <img src="@Model.PhotoUrl"/>
        @if (!String.IsNullOrEmpty(Model.PhotoDescription))
        {
            <div class="lightbox-caption">
                <p>@Model.PhotoDescription</p>
            </div>
        }
        <div class="well pull-right lightbox-commentbox" style="height: 95%; width: 350px;"></div>

    </div>
</div>
