@{
    Layout = null;
}
<div id="profileTabs">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active" style="margin-left: 10px;"><a href="#tab1" data-toggle="tab">New Post</a></li>
            <li><a href="#tab2" data-toggle="tab">Upload Photo</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active margin-ten" id="tab1">
                <textarea placeholder="What's on your mind?" id="postInput"></textarea>
                <button type="button" class="btn btn-primary" id="submitPostBtn">Submit</button>
            </div>
            <div class="tab-pane margin-ten" id="tab2">
                <p><button data-toggle="modal" data-target="#uploadPicModalWithFeed" class="btn btn-info">Upload Photo</button></p>
            </div>
        </div>
    </div>
</div>
