@using Zazz.Core.Models.Data
@using Zazz.Web.Controllers
@{
    Layout = null;

    var controller = ViewContext.Controller as BaseController;
    
}
<div class="modal hide fade" id="selectCityModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Enter your city</h3>
    </div>

    <div class="modal-body">

        <div class="control-group">
            <div class="controls">
                <div class="editor-field">
                    <div class="row-fluid">
                        <input class="cityInput" name="City" type="text" data-init-text="@Model.City" value="@Model.City" />
                    </div>
                </div>
            </div>

        </div>

        <p>
            <button id="selectCity" class="btn btn-primary" style="width:100%;">Submit</button>
        </p>

    </div>

    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var selectedCity = "";

        $(".cityInput").placecomplete({
            width: "100%",
            placeholderText: "City",
            requestParams: {
                types: ["(cities)"]
            },
            initSelection: function (element, callback) {
                var elementText = $(element).attr('data-init-text');
                callback({ "text": elementText, "id": elementText });
            }
        }).on({
            "placecomplete:selected": function (evt, placeResult) {
                selectedCity = placeResult.display_text;
            }
        });

        $('#selectCity').on('click', function (e) {
            var url = '@Url.Action("EditCity", "Users", new {id=@Model.UserId, city="__city__"})';
            window.location.href = url.replace('__city__', selectedCity);
        });
    });
</script>