@model AlbumViewModel
@{
    Layout = null;
}

<div class="thumbnail album-thumbnail">
    <div class="img">
        @if (Model.IsFromCurrentUser)
        {
            <button data-id="@Model.AlbumId" class="btn btn-small remove-album icononly-btn" title="Remove album"><i class="icon-remove"></i></button>
        }
        <a href="/photo/list/@Model.UserId/1?albumId=@Model.AlbumId">
            <img src="@Model.AlbumPicUrl" />
        </a>
    </div>

    <p><strong>@Model.AlbumName</strong></p>

</div>
