@model AlbumViewModel
@{
    Layout = null;
    var counter = 1;

<div class="img-box">
    @foreach (var pic in Model.AlbumThumbnails)
    {
        var className = counter == 1
                            ? "image1"
                            : counter == 2
                                  ? "image2"
                                  : "image3";
        
        <div class="@className">
            <img src="@pic.SmallLink"/>
        </div>

        counter++;
    }
    <div class="clearfix"></div>

    <div class="text-center">
        <div class="album-name">
            <p>@Model.AlbumName</p>
        </div>
        <a class="photo-num" href="#">@Model.PhotosCount photos</a>
    </div>
    <br class="clearfix" />

</div>