@using Zazz.Infrastructure.Helpers
@model TagStatsWidgetViewModel
@{
    Layout = null;
}

@if (Model.Tags.Any())
    {
        <ul class="tag-stats">
            @foreach (var t in Model.Tags)
            {
                <li class="tag-header"><a href="~/home/tags?select=@t.TagName" data-tag="@t.TagName">#@t.TagName</a></li>
                <li>@(t.UsersCount == 1 ? "1 person is" : t.UsersCount + " people are") talking about this.</li>
            }
            <li class="tags-lastupdate">last update: <strong>@Model.LastUpdate.ToRelativeTime()</strong></li>
        </ul>
    }