<div class="event well">
    <img class="event-img" width="92" height="92" src="~/Images/placeholder.gif" />
    <i class="loading-indicator icon-refresh icon-spin hidden"></i>
    <p>THURSDAY, MARCH 14, 2013</p>
    <h3>EVENT TITLE</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum quam ut odio ultricies vitae elementum turpis vulputate.</p>
    <div class="clearfix"></div>
    <div style="height: 100px; background-color: green;"></div>
</div>


