@{
    ViewBag.Title = "Events List";
}

<div class="container">
    <div class="text-center">
        <span class="alfa-slab-font">EVENTS</span><br/>
        <span class="event-city-name">Montreal</span>
    </div>
    
    <div class="alfa-slab-font" style="margin-top: 50px;">
        <span class="pull-left">THIS WEEK</span>
        <span class="pull-right">THIS MONTH</span>
        <div class="clearfix"></div>
    </div>
</div>
<hr class="dark-line" style="margin: 10px 0;"/>

<div class="container split-two">
    
    @* LEFT ITEMS *@
    <div class="left-part">
        @Html.Partial("_EventPartial")
    </div>
    
    @* RIGHT ITEMS *@
    <div class="right-part">
        @Html.Partial("_EventPartial")
    </div>
    
    <div class="clearfix"></div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(function () {

            function flip(elem, rotateX, duration, callback) {
                $(elem).transition({
                    perspective: '1000px',
                    rotateX: rotateX + 'deg',
                    duration: duration,
                    complete: callback
                });
            }

            function flipToBack(eventElem) {
                var front = $(eventElem).children('.event-front');
                var back = $(eventElem).children('.event-back');

                flip(back, '90', 0);
                flip(front, '90', 250, function () {
                    front.hide();
                    back.show();
                    flip(back, '0', 250);
                });

                $(eventElem).data('side', 'back');
            }

            function flipToFront(eventElem) {
                var front = $(eventElem).children('.event-front');
                var back = $(eventElem).children('.event-back');

                flip(front, '-90', 0);
                flip(back, '-90', 250, function () {
                    front.show();
                    back.hide();
                    flip(front, '0', 250);
                });
                
                $(eventElem).data('side', 'front');
            }

            $('.event').click(function() {
                var side = $(this).data('side');
                if (side == "front") {
                    flipToBack(this);
                } else {
                    flipToFront(this);
                }

            });
        });
    </script>  
}