@{
    ViewBag.Title = "Events List";
}

<div class="container">
    <div class="text-center">
        <span class="alfa-slab-font">EVENTS</span><br/>
        <span class="event-city-name">Montreal</span>
    </div>
    
    <div class="alfa-slab-font" style="margin-top: 50px;">
        <span class="pull-left">THIS WEEK</span>
        <span class="pull-right">THIS MONTH</span>
        <div class="clearfix"></div>
    </div>
</div>
<hr class="dark-line" style="margin: 10px 0;"/>

<div class="container split-two">
    
    @* LEFT ITEMS *@
    <div class="left-part">
        @Html.Partial("_EventPartial")
    </div>
    
    @* RIGHT ITEMS *@
    <div class="right-part">
        @Html.Partial("_EventPartial")
    </div>
    
    <div class="clearfix"></div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(function() {

            var flipDuration = 250;

            function flipToBack(elem, front, back) {

                $(elem).transition({
                    perspective: '1000px',
                    rotateX: '90deg',
                    duration: flipDuration,
                    complete: function() {
                        front.hide();
                        back.show();
                    }
                }).transition({
                    perspective: '1000px',
                    rotateX: '-90deg',
                    duration: 0
                }).transition({
                    perspective: '1000px',
                    rotateX: '0deg',
                    duration: flipDuration,
                    complete: function() {
                        $(elem).data('side', 'back');
                    }
                });
            }

            function flipToFront(elem, front, back) {

                $(elem).transition({
                    perspective: '1000px',
                    rotateX: '-90deg',
                    duration: flipDuration,
                    complete: function() {
                        front.show();
                        back.hide();
                    }
                }).transition({
                    perspective: '1000px',
                    rotateX: '90deg',
                    duration: 0
                }).transition({
                    perspective: '1000px',
                    rotateX: '0deg',
                    duration: flipDuration,
                    complete: function() {
                        $(elem).data('side', 'front');
                    }
                });
            }

            $('.event').click(function() {
                var self = this;

                var side = $(self).data('side');
                var front = $(self).children('.event-front');
                var back = $(self).children('.event-back');

                if (side == "front") {
                    flipToBack(self, front, back);

                } else {
                    flipToFront(self, front, back);
                }

            });
        });
    </script>  
}