@font-face {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    src: local('Alfa Slab One'), local('AlfaSlabOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/alfaslabone/v2/Qx6FPcitRwTC_k88tLPc-fn8qdNnd5eCmWXua5W-n7c.woff) format('woff');
}

.icon-spin {
    display: inline-block;
    -moz-animation: spin 1.3s infinite linear;
    -o-animation: spin 1.3s infinite linear;
    -webkit-animation: spin 1.3s infinite linear;
    animation: spin 1.3s infinite linear;
}

/***************************************
    JQuery UI overrides
***************************************/

.ui-widget {
    font-family: 'Open Sans';
    font-size: 13px;
}

.ui-autocomplete .ui-menu-item {
    border-bottom-style: dashed;
    border-bottom-color: #b6b6b6;
    border-bottom-width: 1px;
}

    .ui-autocomplete .ui-menu-item:last-child {
        border-bottom: 0;
    }

.ui-corner-all, .ui-corner-top,
.ui-corner-bottom, .ui-corner-right, .ui-corner-left,
.ui-corner-br, .ui-corner-bl, .ui-corner-tr, .ui-corner-tl {
    border-radius: 2px;
}
/***************************************
        Global
***************************************/
body {
    font-family: 'Open Sans';
}

/*img {
    max-height: 100%;
    max-width: 100%;
}*/

.alfa-slab-font {
    font-family: 'Alfa Slab One';
    font-size: 28px;
}

.textSeperator {
    margin: 0 10px;
    font-size: 40px;
}

.required:after {
    content: " *";
    color: red;
}

.font-light {
    font-family: 'Open Sans';
    font-weight: 300 !important;
}

.gray-background {
    background-color: #eee;
}

.light-background {
    background-color: #fafafa;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

hr.gold-line {
    height: 1px;
    border: 0;
    border-bottom: 1px solid goldenrod;
}

.field-validation-error {
    margin-bottom: 10px;
}

#navbarSearch {
    padding-left: 30px;
    width: 300px;
}

    #navbarSearch:focus {
        width: 300px;
    }

#searchIcon {
    position: absolute;
    margin-top: 12px;
    margin-left: 9px;
    font-size: 16px;
    color: #414141;
}

#mainContent {
    padding-top: 50px;
}

.split-two {
}

    .split-two .left-part {
        float: left;
        width: 460px;
        padding-right: 20px;
    }

    .split-two .right-part {
        float: right;
        width: 450px;
        margin-left: 20px;
    }

.hidden {
    display: none !important;
}

.badge-small {
    font-size: 10.69px;
    padding-right: 6px;
    padding-left: 6px;
}

.font-small {
    font-size: 12px;
}

.font-verysmall {
    font-size: 10px;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.width-255 {
    width: 255px;
}

.width-110 {
    width: 110px;
}

.img-small-rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.icononly-btn {
    padding: 0 8px;
    font-size: 8px;
}

    .icononly-btn i {
        font-size: 8px;
    }

.gold {
    color: gold;
}

/***************************************
        Landing page
***************************************/

#landing-page #login-form {
    margin: 0;
    margin-top: 20px;
}

    #landing-page #login-form button[type="submit"] {
        margin-left: 10px;
        width: 71px;
    }

.welcome-text {
    padding-top: 20px;
}

.forgot-password {
    font-size: 12px;
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
}

.uni-showcase {
    margin-top: 80px;
}

.uni-item {
    float: left;
    margin-right: 80px;
}

.uni-item-image {
    width: 64px;
    height: 64px;
    float: left;
}

.uni-item-text {
    float: left;
    margin-left: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.landingpage-footer {
    margin-top: 80px;
    width: 100%;
    height: 100px;
    background-color: #1570a6;
    color: white;
    font-size: 28px;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #1549a6;
    padding: 10px 0;
}

    .landingpage-footer table {
        width: 100%;
        height: 100%;
    }

        .landingpage-footer table tr td {
            text-align: center;
        }

            .landingpage-footer table tr td.divider {
                border-right-style: solid;
                border-right-width: 1px;
                border-left-style: solid;
                border-left-width: 1px;
            }

/***************************************
        USER PAGE LAYOUT
***************************************/

#user-home-page-content {
    padding-top: 50px;
}

/**********LEFT PANEL***********/
.left-panel {
    width: 200px;
    font-size: 13px;
    float: left;
    height: 100%;
}

    .left-panel .user-img {
        width: 42px;
        height: 42px;
    }

    .left-panel .nav-list {
        padding: 0;
    }

        .left-panel .nav-list > li > a {
            margin: 0;
        }

            .left-panel .nav-list > li > a > i {
                margin-right: 7px;
            }

    .left-panel .badge {
        margin-left: 10px;
    }

    .left-panel .user {
        margin-bottom: 20px;
    }

        .left-panel .user .username {
            margin-left: 5px;
            font-weight: 600;
            /*color: white;*/
            color: #141414;
            text-decoration: none;
        }

/**********MIDDLE PANEL***********/

.middle-panel {
    float: left;
    min-height: 600px;
    width: 575px;
    /*border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);*/
    border-right: 1px solid #cecece;
    border-left: 1px solid #cecece;
    margin-top: -50px;
    padding-top: 39px;
}

    .middle-panel .page-header {
        margin-bottom: 15px;
        padding-left: 8px;
    }

    .middle-panel .margin-ten {
        margin: 0 10px 0 10px;
    }

    .middle-panel .event-detail {
        margin-top: 20px;
        white-space: pre-line;
    }

    .middle-panel .event-price {
        margin: 20px 0;
    }

/**********RIGHT PANEL***********/

.right-panel {
    float: right;
    width: 215px;
}

    .right-panel a {
        color: #222;
    }

/***************************************
        FEED
***************************************/

.feed-item {
    width: 555px;
}

    .feed-item a {
        font-weight: 600;
    }

    .feed-item .feed-userimg-container {
        float: left;
        position: absolute;
    }

    .feed-item .feed-user-img {
        width: 50px;
        height: 50px;
    }

    .feed-item .feed-content {
        margin-left: 55px;
    }

    .feed-item .img-caption {
        padding: 15px;
        position: absolute;
        background: #000;
        background: rgba(0, 0, 0, 0.45);
        color: white;
        text-align: center;
        -webkit-text-shadow: 0 -1px 0 #000000;
        text-shadow: 0 -1px 0 #000000;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        font-size: 14px;
        line-height: 18px;
    }

    .feed-item .feed-options {
        display: block;
        list-style: none;
        margin: 15px 0 50px 10px;
    }

        .feed-item .feed-options li {
            float: left;
            margin-right: 20px;
        }

            .feed-item .feed-options li a {
                color: #474747;
                font-size: 14px;
                text-decoration: none;
            }

                .feed-item .feed-options li a:hover {
                    color: black;
                }

.feed-comments-section {
    border-top: solid white 1px;
    margin: 0 10px;
    padding: 15px 0;
}

    .feed-comments-section img {
        width: 32px;
        height: 32px;
    }

    .feed-comments-section .comment-textbox {
        margin: 0;
        font-size: 12px;
        width: 427px;
    }

.feed-comments {
    margin: 10px 2px 0 36px;
    list-style: none;
}

.feed-comment {
    font-size: 12px;
    border-bottom: #a5a5a5 dashed 1px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

    .feed-comment:last-child {
        border-bottom: 0;
    }

    .feed-comment .comment-text {
        margin: 0 0 0 38px;
    }

.comment-options {
    list-style: none;
    margin: 20px 0 0 0;
}

    .comment-options li {
        float: left;
        margin-right: 15px;
    }

        .comment-options li a {
            text-decoration: none;
        }


.post-feed-message {
    margin: -15px 10px 0 10px;
    font-size: 12px;
    white-space: pre-line;
}

.feed-actions {
    float: right;
    display: none;
}

.load-comments-btn {
    font-size: 12px;
    padding: 0 6px;
}

    .load-comments-btn i {
        font-size: 14px;
    }

/**********Lightbox Comments**************/

.lightbox-commentbox {
    overflow-y: auto;
}

    .lightbox-commentbox a {
        color: black;
        text-decoration: none;
    }

    .lightbox-commentbox .feed-comments-section {
        /*margin-left: -10px;
        padding-left: 20px;
        margin-right: -10px;
        padding-right: 20px;*/
    }

    .lightbox-commentbox hr {
        margin-left: -10px;
        margin-right: -10px;
    }

    .lightbox-commentbox .feed-comments-section .comment-textbox {
        width: 84%;
    }

    .lightbox-commentbox .feed-comments-section .feed-comments {
        margin: 0;
        margin-top: 15px;
        margin-left: 20px;
    }

        .lightbox-commentbox .feed-comments-section .feed-comments .feed-comment {
            text-align: left;
        }

    .lightbox-commentbox .feed-comment .comment-text {
        margin-bottom: 10px;
    }

    .lightbox-commentbox .photo-details {
        text-align: left;
        padding: 10px;
    }

.lightbox-commentbox-user-img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

/***************************************
        Events
***************************************/
.event-city-name {
    position: relative;
    top: 5px;
    font-size: 14px;
    font-weight: 600;
}

.event {
    -webkit-backface-visibility: hidden;
    padding: 6px;
    min-height: 100px;
    position: relative;
}

    .event .event-title {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
    }

    .event:hover {
        cursor: pointer;
    }

.event-img {
    float: left;
    margin-right: 20px;
    height: 100px;
    width: 100px;
    border-radius: 3px;
}

.event .loading-indicator {
    float: right;
}

.event-front {
}

.event-back {
    display: none;
}

.event .facebook-link {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.event-arrow-right {
    border-right: 10px solid #11aa7f;
    /*-moz-transition: border-right 50ms;
    -o-transition: border-right 50ms;
    -webkit-transition: border-right 50ms;
    transition: border-right 50ms;*/
}

    .event-arrow-right:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 15px solid transparent;
        border-top-color: #11aa7f;
        top: 50%;
        left: 100%;
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        margin-top: -15.5px;
        margin-left: 10px;
    }

.event-arrow-left {
    border-left: 10px solid #11aa7f;
    /*-moz-transition: border-right 50ms;
    -o-transition: border-right 50ms;
    -webkit-transition: border-right 50ms;
    transition: border-right 50ms;*/
}

    .event-arrow-left:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 15px solid transparent;
        border-top-color: #11aa7f;
        top: 50%;
        right: 102%;
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-top: -15.5px;
        margin-left: 10px;
    }

/***************************************
        Profile Page
***************************************/

.club-details {
    font-size: 16px;
}

.club-details i {
    margin-right: 5px;
}

.club-details td {
    padding-bottom: 5px;
}

.club-party-web-info {
    font-size: 22px;
}

.club-party-web-info .followers-count {
    font-size: 24px;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 25px;
    font-style: normal;
    font-weight: 400;
}

.club-party-web-info .btn-follow {
    width: 100px;
    margin: 10px 0;
}

.weeklies-container {
    position: relative;
    height: 120px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.weeklies-text {
    float: left;
}

.weeklies-text div {
    font-family: 'Alfa Slab One';
    font-size: 33px;
    padding: 35px 15px 35px 0;
    border-right: 2px solid;
    margin-top: 14px;
}

.weeklies-items {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    padding-top: 14px;
    padding-left: 29px;
    padding-right: 29px;
}

.weekly {
    float: left;
    text-align: center;
    font-weight: 600;
    margin-right: 10px;
}

.weekly:last-child {
    margin: 0;
}

.weekly img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.special-events {
    float: right;
    text-align: center;
    margin-top: 14px;
    padding: 15px 0 20px 15px;
    border-left: 2px solid;
}

.special-events .special-events-text {
    font-family: 'Alfa Slab One';
    font-size: 33px;
}

.special-events .special-events-count {
    position: absolute;
    right: -16px;
    top: -1px;
    font-size: 14px;
    padding: 5px 8px;
}

#coverImg {
    margin-bottom: 25px;
    width: 100%;
    height: 400px;
}

#profilePic {
    width: 155px;
    height: 155px;
}

.profile-center {
    text-align: center;
    position: absolute;
    margin-left: 290px;
    margin-top: -100px;
    width: 420px;
}

#profileTabs {
    margin-bottom: 50px;
}

#postInput {
    width: 98%;
    height: 75px;
    font-size: 12px;
}

#followsYouSign:hover {
    cursor: pointer;
}

.party-albums {
    float: left;
    width: 400px;
    padding: 6px;
    padding-right: 0;
}

.party-albums h6 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    border-bottom: 1px solid;
}

.party-images {
    list-style: none;
    margin: 0;
    margin-left: -3px;
}

.party-images li {
    float: left;
    margin: 2px;
}

.party-images li img {
    width: 96px;
    height: 96px;
}

.party-images li:first-child img {
    width: 196px;
    height: 196px;
}

#feedContent {
    float: left;
    margin-left: 25px;
}

/***************************************
    Photo
***************************************/

.album-pic-switch {
    display: block;
    width: 500px;
    margin: 0 auto;
    list-style: none;
}

    .album-pic-switch .btn {
        width: 250px;
        font-size: 22px !important;
    }

.pic-list {
    margin-top: 30px;
    padding: 0;
    padding-left: 2px;
    padding-bottom: 10px;
}

    .pic-list .img {
        width: 195px;
        height: 195px;
        margin: 2px;
        float: left;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.29);
        overflow: hidden;
    }

        .pic-list .img img {
            min-width: 100%;
            min-height: 100%;
            cursor: pointer;
        }

.remove-img {
    position: absolute;
    margin-left: 171px;
    display: none;
}

.remove-album {
    position: absolute;
    margin-left: 175px;
    margin-top: -6px;
    display: none;
}

.photo-thumbnail {
    min-width: 150px;
    width: 150px;
    max-width: 150px;
    min-height: 150px;
    height: 150px;
    max-height: 150px;
    text-align: center;
}

.album-thumbnail {
    float: left;
    background-color: white;
    margin: 3px;
    width: 206px;
    height: 260px;
    text-align: center;
}

    .album-thumbnail .img {
        margin: 6px;
    }

#album-list {
    margin-left: 50px;
}

.photo-hover {
    margin-top: 10px;
}

/***************************************
    Thumbnails
***************************************/

ul.thumbnail-rows {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

    ul.thumbnail-rows li {
        margin: 0;
        padding: 0;
        margin-top: 4px;
        list-style: none;
    }

        ul.thumbnail-rows li:first-child {
            margin-top: 0;
        }

        ul.thumbnail-rows li:last-child {
            margin-bottom: 0;
        }

.thumbnail-247 {
    width: 247px;
    height: 247px;
    overflow: hidden;
    float: left;
}

    .thumbnail-247 img {
        height: 100%;
    }

.thumbnail-163 {
    width: 163.3px;
    height: 163.3px;
    overflow: hidden;
    margin-right: 4px;
    float: left;
}

    .thumbnail-163 img {
        height: 100%;
    }

/***************************************
    Notifications
***************************************/

.notification-list {
    list-style: none;
    margin: 0;
}

.notification-list .notification-row {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed gray;
    position: relative;
}

.notification-list .notification-row:first-child {
    padding-top: 0;
}

.notification-list .notification-row:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

li.new-notification {
    background-color: #fffce2;
}

.notification-user-img {
    width: 38px;
    height: 38px;
    margin-right: 5px;
}

.notification-list .time {
    position: absolute;
    bottom: 0;
    right: 0;
}

.notification-popover-footer {
    display: block;
    border-top: 1px solid rgb(180, 180, 180);
    background-color: #ebebeb;
    text-align: right;
    padding: 5px;
    padding-right: 12px;
    font-size: 14px;
}

/***************************************
    Tags
***************************************/

a.tag {
    text-decoration: none;
    color: black;
}

.tag-stats {
    list-style: none;
    text-align: center;
    margin-left: 0;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    padding-bottom: 15px;
}

.tag-header {
    font-weight: 600;
    font-size: 14px;
    color: black;
    margin-top: 15px;
}

.tag-header a {
    text-decoration: none;
}

.tags-lastupdate {
    font-size: 12px;
    text-align: right;
    margin-top: 15px;
    color: black;
}

/***************************************
    User Profile Page
***************************************/

#user-profile-container {
    margin-top: 30px;
}

#user-profile-container .left-panel {
    text-align: center;
    color: #333333;
    margin-right: 20px;
}

#user-profile-container .middle-panel {
    margin-top: -31px;
    border-left: 0;
}

#user-profile-container .right-panel {
    width: 198px;
}

#user-profile-container #user-profile-image {
    width: 175px
}

#user-profile-container .username {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}

    #user-profile-container .username a {
        color: black;
    }

    #user-profile-container .username a:hover {
        text-decoration: none;
    }

#user-profile-container .party-web {
    margin-top: 25px;
    margin-bottom: 50px;
}

#user-profile-container .party-web div {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
}

.followers-box {
    position: relative;
    display: inline-block;
    padding: 13px 26px 14px 26px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #333333;
    vertical-align: middle;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 8px;
}

    .followers-box:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 6px solid #ccc;
        border-color: transparent black transparent transparent;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        top: 100%;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    .followers-box:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 6px solid #fafafa;
        border-color: transparent #fafafa transparent transparent;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        top: 100%;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    .btn-follow {
        width: 80px;
        font-size: 16px;
        margin-top: 10px;
        margin-left: 5px;
    }

#user-profile-container .user-info {
    padding: 5px;
    margin: 0 0 15px 0;
    text-align: left;
    font-size: 14px;
    list-style: none;
}

#user-profile-container .user-info li {
    margin-bottom: 5px;
}

#user-profile-container .user-info li i {
    margin-right: 6px;
}

#user-profile-container .pics-widget {
    padding: 5px;
    text-align: left;
}

#user-profile-container .pics-widget h6 {
    margin: 0;
    font-weight: 600;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}

#user-profile-container .pics-widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#user-profile-container .pics-widget li {
    float: left;
    margin: 2px;
}

#user-profile-container .pics-widget li > a > img {
    width: 58px;
    height: 58px;
}

/***************************************
    Footer
***************************************/
footer {
    /*background-color: #020202;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: goldenrod;
    color: lightgray;*/
    background-color: #f1f1f1;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #272727;
    border-top-color: rgba(39, 39, 39, 0.27);
    padding-top: 10px;
    margin-top: 50px;
    padding-bottom: 30px;
}
