.btn-extralarge {
  padding: 24px 60px;
  font-size: 28.75px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-extralarge [class^="icon-"],
.btn-extralarge [class*=" icon-"] {
  margin-top: 4px;
}

/***************************************
        Landing page
***************************************/

.login-form {
    margin: 0;
    margin-top: 20px;
}
.welcome-text {
    padding-top: 20px;
}
.forgot-password {
    font-size: 12px;
    float: right; 
    margin-right: 72px; 
    margin-top: 3px; 
    font-style: italic;
}

.uni-showcase {
    padding: 50px 0 200px 100px;
}

.uni-item {
    float: left;
    margin-right: 88px;
}

.uni-item-image {
    width: 120px;
    height: 110px;
    float: left;
}

.uni-item-text {
    float: left;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}