@using Zazz.Core.Models.Data
@using Zazz.Core.Models.Data.Enums
@model List<ClubRewardScenarioViewModel>
@{
    ViewBag.Title = "Scenarios";
}

<div class="container">
    <div class="page-header">
        <h2>Point Reward Scenarios</h2>
    </div>

    <div>
        @if (Model.Count > 0)
        {
            <table class="table table-condensed table-striped" style="margin-bottom: 100px;">
                <thead>
                    <tr>
                        <th>Scenario</th>
                        <th>Amount</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.Scenario.GetEnumDisplay()</td>
                        <td>@s.Amount</td>
                        <td><a href="~/clubrewards/editscenario/@s.ScenarioId">Edit</a></td>
                        <td><a href="~/clubrewards/removescenario/@s.ScenarioId">Remove</a></td>
                    </tr>
                }

            </table>
        }

        <h3>Create a new scenario</h3>

        @Html.Partial("_EditScenarioFormInLine", new ClubRewardScenarioViewModel())

    </div>

</div>


