@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "TODO: Add page title and description.";
}

<div id="landing-page">
    <div class="container">
        <div class="pull-left">
            <h1>Zazz</h1>
        </div>

        <div class="pull-right">
            <form class="form-inline" id="login-form" action="~/account/login" method="POST">
                @Html.AntiForgeryToken()
                <input type="text" name="Username" class="input-small" placeholder="Username">
                <input type="password" name="Password" class="input-small" placeholder="Password">
                <button type="submit" class="btn btn-primary">log in</button>
            </form>
            <div style="margin-top: 10px;">
                <a class="pull-right" href="~/account/oauth/facebook/"><img src="~/Images/fb-login-btn.jpg"/></a>
                <a class="forgot-password" href="~/account/recover">Forgot password?</a>    
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="text-center welcome-text">
            <h2 class="font-light">"Taking college partying to a whole new level"</h2>
        </div>

    </div>

    <div class="hero-unit" style="height: 200px"></div>

    <div class="text-center">
        <a class="btn btn-extralarge btn-primary" href="~/account/register">Join the party</a>
    </div>

    <div class="container">

        <div class="uni-showcase">

            <div class="uni-item">
                <img class="uni-item-image" src="~/Images/victoria-uni.png" />
                <div class="uni-item-text">
                    University<br />
                    of<br />
                    Victoria

                </div>
            </div>

            <div class="uni-item">
                <img class="uni-item-image" src="~/Images/ubc.png" />
                <div class="uni-item-text">
                    University<br />
                    of<br />
                    British Columbia

                </div>
            </div>

            <div class="uni-item">
                <img class="uni-item-image" src="~/Images/concorida.png" />
                <div class="uni-item-text" style="margin-top: 10px;">
                    Concordia<br />
                    University
                </div>
            </div>

            <div class="uni-item">
                <img class="uni-item-image" src="~/Images/mcgill.png" />
                <div class="uni-item-text" style="margin-top: 10px;">
                    McGill<br />
                    University
                </div>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>

    <div class="landingpage-footer font-light">
        <table>
            <tr>
                <td>What is Zazz?</td>
                <td class="divider">Our goal</td>
                <td>Contact us</td>
            </tr>
        </table>
    </div>

</div>
