@{Layout = null;}
<!DOCTYPE html>

<html>
<head>
    <title>TODO: Add title and description</title>
    
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <div class="container">
            <div class="pull-left"><h1>Zazz</h1></div>

            <div class="pull-right">
                <form class="form-inline login-form" action="~/account/login" method="POST">
                    <input type="text" class="input-small" placeholder="Email">
                    <input type="password" class="input-small" placeholder="Password">
                    <button type="submit" class="btn btn-primary">log in</button>
                </form>
                <a class="forgot-password" href="~/account/recover">Forgot password?</a>
            </div>
            <div class="clearfix"></div>
            
            <div class="text-center welcome-text"><h2>"Taking college partying to a whole new level"</h2></div>

        </div>
        
        <div class="hero-unit" style="height: 200px"></div>
        
        <div class="text-center">
            <button class="btn btn-extralarge btn-primary">Join the party</button>
        </div>

    </div>
</body>
</html>
