@{
    Layout = null;
    ViewBag.Title = "TODO: Add page title and description.";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Content/new/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/new/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Content/new/styles.css" rel="stylesheet" />
</head>
<body class="fixed-navbar-page">

    <nav class="navbar navbar-black navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="container">
                <form action="@Url.Action("Login", "Account")" method="POST" class="navbar-form navbar-right" role="search">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="text" class="form-control dark-input" placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control dark-input" placeholder="Password" name="password">
                    </div>
                    <button type="submit" class="btn btn-dark">Login</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="cover-image">
        <img src="/Images/new/landing-page-cover.jpg" />
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-01.png"/></div>
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-02.png" /></div>
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-03.png" /></div>
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-04.png" /></div>
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-05.png" /></div>
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-07.png" /></div>
        </div>
        <div class="row">
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-08.png" /></div>
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-09.png" /></div>
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-10.png" /></div>
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-11.png" /></div>
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-12.png" /></div>
            <div class="col-md-2"><img class="landing-page-category-img" src="/Images/home/Icon-png-13.png" /></div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/NewScripts/bootstrap.min.js"></script>
</body>
</html>
