@model TagsPageViewModel
@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}
    
<div class="margin-ten">
    <select multiple="multiple" id="tagsSelect" style="width: 100%;">
        @foreach (var t in Model.AvailableTags)
        {
            <option value="@t" @(Model.SelectedTags.Contains(t, StringComparer.InvariantCultureIgnoreCase) ? "selected='selected'" : String.Empty)>#@t</option>
        }
    </select>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#tagsSelect').select2();
        });
    </script>
}