@model TagsPageViewModel
@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}
    
<div>
    <div class="page-header" style="margin-top: 43px; padding-left: 0;">
    
        <div class="margin-ten">
            <span style="margin-right: 10px;">Tags:</span>
            <select multiple="multiple" id="tagsSelect" style="width: 512px;">
                @foreach (var t in Model.AvailableTags)
                {
                    <option value="@t" @(Model.SelectedTags.Contains(t, StringComparer.InvariantCultureIgnoreCase) ? "selected='selected'" : String.Empty)>#@t</option>
                }
            </select>
        </div>
    </div>
    <div class="margin-ten">
    
    
        @Html.Partial("_FeedsPartial", Model.Feeds)

    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#tagsSelect').select2();
        });
    </script>
}