@using Zazz.Core.Models.Data
@model UserHomeViewModel
@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div style="margin-top: 46px;">
    @Html.Partial("_PostInputsPartial")
</div>

<hr />
<div class="clearfix"></div>

<div class="margin-ten">

    @Html.Partial("_FeedsPartial", Model.Feeds)

</div>

@Html.Partial("_UploadPicModal", "uploadPicModalWithFeed")

@section RightPanel
{
    <ul class="nav nav-list">
        <li><a href="~/event/create"><i class="icon-calendar"></i>Create event</a></li>
        @if (Model.AccountType == AccountType.ClubAdmin)
        {
            <li><a href="#"><i class="icon-facebook"></i>Manage Facebook Pages</a></li>
        }
    </ul>
}