@{
    ViewBag.Title = "My Zazz Life";
}

<div class="text-center container">
    <p class="alfa-slab-font">
        <span>Victoria</span>
        <span class="textSeperator">|</span>
        <span style="font-size: 36px; font-weight: bold;">Montreal</span>
        <span class="textSeperator">|</span>
        <span>Vancouver</span>
    </p>
</div>

<hr class="dark-line"/>
<ul>
    <li><a href="#">events page</a></li>
</ul>