@{
    ViewBag.Title = "Home page";
}

<div id="mainContent">
    <div class="container">
         <div class="left-nav">
            <div class="menu-title"><strong>ACCOUNT</strong></div>
            <ul>
                <li><a href="#">Party Web Requests</a> <span class="badge badge-inverse badge-small">5</span></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Photos</a></li>
            </ul>
        </div>
    </div>
</div>