@{
    ViewBag.Title = "Home page";
}

<div id="mainContent">
    <div class="container">
        @*<div class="left-nav">
            <div class="menu-title"><strong>ACCOUNT</strong></div>
            <ul>
                <li><a href="#">Party Web Requests</a> <span class="badge badge-inverse badge-small">5</span></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Photos</a></li>
            </ul>
        </div>*@
        
        <div class="left-nav">
            <div class="user">
                <img width="42" height="42" src="~/Images/placeholder.gif"/>
                <a href="~/user/me" class="username">Soroush Mirzaei</a>
            </div>
            <ul class="nav nav-list">
                
                <li class="nav-header">ACCOUNT</li>
                <li><span class="badge badge-inverse badge-small">5</span><a href="#">Party Web</a> </li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Edit Profile</a></li>

                <li class="divider"></li>

                <li class="nav-header">DISCOVER</li>
                <li><a href="#">Clubs</a></li>

                <li class="divider"></li>

                <li class="nav-header">OTHER LINKS</li>
                <li><a href="#">Link A</a></li>
                <li><a href="#">Link B</a></li>
            </ul>
        </div>
    </div>
</div>
