@using Zazz.Core.Models.Data
@model IEnumerable<FeedViewModel>
@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div style="margin-top: 55px;">
    <div id="profileTabs">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Post</a></li>
                <li><a href="#tab2" data-toggle="tab">Photo</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active margin-ten" id="tab1">
                    <textarea placeholder="What's on your mind?" id="postInput"></textarea>
                    <button type="button" class="btn btn-primary" id="submitPostBtn">Submit</button>
                </div>
                <div class="tab-pane margin-ten" id="tab2">
                    <p>Show something?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr/>
<div class="clearfix"></div>

<div class="margin-ten">
    
    @Html.Partial("FeedItems/_PostFeedItem")

    @foreach (var feed in Model)
    {
        if (feed.FeedType == FeedType.Event)
        {
        @Html.Partial("FeedItems/_EventFeedItem", feed)
        }
        else if (feed.FeedType == FeedType.Picture)
        {
        @Html.Partial("FeedItems/_PicturePostFeedItem", feed)
        }
    }

</div>

@section RightPanel
{
    <ul class="nav nav-list">
        <li><a href="~/event/create"><i class="icon-calendar"></i>Create event</a></li>
    </ul>
}