@using Zazz.Core.Models.Data
@using Zazz.Core.Models.Data.Enums
@model UserHomeViewModel
@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div style="margin-top: 46px;">
    @Html.Partial("_PostInputsPartial")
</div>

<hr />
<div class="clearfix"></div>

<div class="margin-ten">

    @Html.Partial("_FeedsPartial", Model.Feeds)

</div>

@Html.Partial("_UploadPicModal", new UploadPicModalModel { ModalId = "uploadPicModalWithFeed", CreateFeed = true })

<div class="modal hide fade" id="manageFbPagesModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Manage Facebook Pages</h3>
    </div>

    <div class="modal-body">
        <i class="icon-refresh icon-spin icon-large"></i>
    </div>

    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
    </div>
</div>

@section RightPanel
{
    <ul class="nav nav-list">
        <li><a href="~/event/create"><i class="icon-calendar"></i>Create event</a></li>
        @if (Model.AccountType == AccountType.ClubAdmin)
        {
            <li><a href="#manageFbPagesModal" data-toggle="modal" id="manageFbPages"><i class="icon-facebook"></i>Manage Facebook Pages</a></li>
        }
    </ul>
}