@using Zazz.Core.Models.Data
@model IEnumerable<FeedViewModel>
@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div style="margin-top: 55px;">
    @Html.Partial("_PostInputsPartial")
</div>

<hr />
<div class="clearfix"></div>

<div class="margin-ten">

    @Html.Partial("_FeedsPartial", Model)

</div>

@section RightPanel
{
    <ul class="nav nav-list">
        <li><a href="~/event/create"><i class="icon-calendar"></i>Create event</a></li>
    </ul>
}