@using Zazz.Core.Models.Data
@model IEnumerable<FeedViewModel>
@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div style="height: 200px; margin-left: 10px;">
    <strong>reserving space for later use</strong>
</div>


<div class="clearfix"></div>

<div class="margin-ten">
    
    @foreach (var feed in Model)
    {
        if (feed.FeedType == FeedType.Event)
        {
            @Html.Partial("FeedItems/_EventFeedItem", feed)
        }
        else if (feed.FeedType == FeedType.Picture)
        {
            @Html.Partial("FeedItems/_PicturePostFeedItem", feed)
        }
    }
    
</div>

@section RightPanel
{
    <ul class="nav nav-list">
        <li><a href="~/event/create"><i class="icon-calendar"></i>Create event</a></li>
    </ul>
}