@{
    Layout = null;
}

<table class="notification-table">
    @for (int i = 0; i < 5; i++)
    {
        <tr class="new-notification">
            <td><img style="width: 38px; height: 38px; margin-right: 5px;" src="~/Images/placeholder.gif" alt="UserName" /></td>
            <td><a href="#"><strong>UserName</strong></a></td>
            <td>commented on </td>
            <td><a href="#"><strong>This post</strong></a></td>
        </tr>
    }
</table>
