@{
    Layout = null;
}

<ul class="notification-list">
    @for (int i = 0; i < 5; i++)
    {
        <li>
            <img src="~/Images/placeholder.gif" alt="UserName" />
            <a href="#"><strong>UserName</strong></a>
            commented on
            <a href="#"><strong>This post</strong></a>
        </li>
    }
</ul>
